<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Billing</title>
        <link
            rel="shortcut icon"
            href="https://danielx285.github.io/bilhetagem-lsd-style/icone_lsd.ico"
            />
        <link
            href="https://danielx285.github.io/bilhetagem-lsd-style/style.css"
            rel="stylesheet"
            />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
            rel="stylesheet"
            />
        <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            rel="stylesheet"
            />
    </head>
    <body>
        <header class="nav">
            <img
                src="https://danielx285.github.io/bilhetagem-lsd-style/lsd.svg"
                class="nav"
                />
        </header>
        <div style="width: 800px; margin: 10px auto; border: 1px solid #fff">
            <div style="margin: 25px 0 10px 0;" class="page-header">
                <h1>sponsor_1@lsd.ufcg.edu.br</h1>
            </div>
            <table style="margin: 0">
                <tr>
                    <th>Projeto</th>
                    <th>Uso de RAM</th>
                    <th>Uso de vCPU</th>
                    <th>Uso médio de CPU</th>
                </tr>
                <tr>
                    <td>Domain_Name/Project_Name</td>
                    <td style="text-align:right">20832 GB*h</td>
                    <td style="text-align:right">10416 vCPU*h</td>
                    <td style="text-align:right">3.4%</td>
                </tr>
                <tr>
                    <td>Domain_Name/Project_Name</td>
                    <td style="text-align:right">11904 GB*h</td>
                    <td style="text-align:right">5952 vCPU*h</td>
                    <td style="text-align:right">4.1%</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td style="text-align:right">32736 GB*h</td>
                    <td style="text-align:right">16368 vCPU*h</td>
                    <td style="text-align:right">3.7%</td>
                </tr>
            </table>
            <div style="margin: 25px 0 10px 0;" class="page-header">
                <h1>sponsor_2@lsd.ufcg.edu.br</h1>
            </div>
            <table style="margin: 0">
                <tr>
                    <th>Projeto</th>
                    <th>Uso total de RAM</th>
                    <th>Uso total de vCPU</th>
                    <th>Uso médio de CPU</th>
                </tr>
                <tr>
                    <td>Domain_Name/Project_Name</td>
                    <td style="text-align:right">59626 GB*h</td>
                    <td style="text-align:right">29813 vCPU*h</td>
                    <td style="text-align:right">14.3%</td>
                </tr>
                <tr>
                    <td>Domain_Name/Project_Name</td>
                    <td style="text-align:right">82876 GB*h</td>
                    <td style="text-align:right">45157 vCPU*h</td>
                    <td style="text-align:right">18.9%</td>
                </tr>
                <tr>
                    <td>Domain_Name/Project_Name</td>
                    <td style="text-align:right">29760 GB*h</td>
                    <td style="text-align:right">17112 vCPU*h</td>
                    <td style="text-align:right">3.9%</td>
                </tr>
                <tr>
                    <td>Domain_Name/Project_Name</td>
                    <td style="text-align:right">38753 GB*h</td>
                    <td style="text-align:right">19376 vCPU*h</td>
                    <td style="text-align:right">11.9%</td>
                </tr>
                <tr>
                    <td>Domain_Name/Project_Name</td>
                    <td style="text-align:right">3802 GB*h</td>
                    <td style="text-align:right">2482 vCPU*h</td>
                    <td style="text-align:right">4.3%</td>
                </tr>
                <tr>
                    <td>Domain_Name/Project_Name</td>
                    <td style="text-align:right">28974 GB*h</td>
                    <td style="text-align:right">16827 vCPU*h</td>
                    <td style="text-align:right">11.6%</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td style="text-align:right">243792 GB*h</td>
                    <td style="text-align:right">130769 vCPU*h</td>
                    <td style="text-align:right">13.6%</td>
                </tr>
            </table>
            <div style="margin: 25px 0 10px 0;" class="page-header">
                <h1>sponsor_3@lsd.ufcg.edu.br</h1>
            </div>
            <table style="margin: 0">
                <tr>
                    <th>Projeto</th>
                    <th>Uso total de RAM</th>
                    <th>Uso total de vCPU</th>
                    <th>Uso médio de CPU</th>
                </tr>
                <tr>
                    <td>Domain_Name/Project_Name</td>
                    <td style="text-align:right">17856 GB*h</td>
                    <td style="text-align:right">8928 vCPU*h</td>
                    <td style="text-align:right">5.7%</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td style="text-align:right">17856 GB*h</td>
                    <td style="text-align:right">8928 vCPU*h</td>
                    <td style="text-align:right">5.7%</td>
                </tr>
            </table>
        </div>
        <br />
        <br />
        </div>
    </body>
</html>